services:
  - type: web
    name: civicfix-backend
    env: python
    region: oregon
    plan: free
    rootDir: backend
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn --worker-class gevent --worker-connections 1000 -w 1 --bind 0.0.0.0:10000 app:create_app()
    envVars:
      - key: FLASK_ENV
        value: production
      - key: PYTHON_VERSION
        value: 3.13.4
    healthCheckPath: /

